<html>
	<head></head>
	<title>COVID-19 Tearoom Monitor</title>
	<style type="text/css">
	<!--
	
	div{
		padding: 20px;
		border: 2px solid #BF710D;
		margin: 10px;
		line-height: 30px;
		border-radius: 20px;
	}
	
	button{
		background-color: #E5B022;
		border-radius: 5px;
		border: 1.5px solid #BF710D;
		padding: 5px;
		color: white;
	}
	
	body{
		font-family: sans-serif;
		color: #DA8C1B;
		background-color: #FFF7E2;
	}
	
	h1,h3{
		color: #D16806;
	}
	
	-->
	</style>
	
	<body>
		<h1>Welcome to COVID-19 Tearoom Monitor Utility</h1>
		<h3>This web page is meant to be only for the tearoom manager.</h3>
		
		<div>
			Please, click the button when you intend to start monitoring the Tearoom and its components.
			<form action="/monitor" method="post">
				<center><button>Monitor</button></center>
			</form>
		</div>	
	</body>
</html>