<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>



<script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/reception.js"></script>
	<title class="titleBar">Paying</title>
</head>
	<style type="text/css">
	<!--
	
	div{
		padding: 20px;
		border: 2px solid #63D6BC;
		margin: 10px;
		line-height: 30px;
		border-radius: 20px;
	}
	
	button{
		background-color: #21B47D;
		border-radius: 5px;
		border: 1.5px solid #1C8B60;
		padding: 5px;
		color: white;
	}
	
	body{
		font-family: sans-serif;
		color: #10886A;
		background-color: #EDFFFB;
	}
	
	h1,h3{
		color: #12737B;
	}
	
	td{
		padding: 5px;
	}
	
	}

	-->
	</style>
	<body>
	<script>connectSocket()</script>
	<div id="resp">
		<h3>Waiter is executing the transaction and taking you to the exit door.</h3>
		<h4>Please, wait...</h4>
	</div>
	<!--<div id="exited">
		<h3>Thanks for being our customer! Good Bye!</h3>
	</div>-->
	</body>
</html>